#interfaceCredits{
	display: none;
	text-align: center;
	display: none;
	height: 720px;
	width: 1280px;
	background-color: #929292;
	margin: auto;
	position: relative;
	margin-top: 100px;
}
.textCrédits{
	padding-left: 10px;
    padding-bottom: 5px;
}

#boxCredits{
	width: 1280px;
	height: 720px;
	background-color: white;
	border: solid 5px;
}
#creditsTitre{
	margin-top: 10px;
}