body{
	background-color: #aea294;
}
#contener{
	width: 1420px;
	height: 800px;
	background-image: url("../page cerdit.png");
	background-size: cover;
	margin: 4% auto 4% auto;
	position: relative;
}
#retour{
	height:15%; 
	width:30%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 70px;
	border-radius: 50px;
	line-height: 120px;
	position: absolute;
	top: 650px;
	left: 950px;
}
#cree{
	height:100px; 
	width:80%;
	font-size: 70px;
	position: absolute;
	top: 240px;
	left: 370px;
}