@font-face {
	font-family: cyber;
	src:url(../sources/Cybrpnuk2.ttf);
}

#btn1{
	position:absolute;
	top:320px;
	left:100px;
	background-image: url('../sources/button.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height:100px;
	width:150px;
	font-size: 120%;
	font-family: cyber;
	color:red;
}
#btn4{
	position:absolute;
	top:430px;
	left:100px;
	background-image: url('../sources/button.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height:100px;
	width:150px;
	font-size: 120%;
	font-family: cyber;
	color:red;

}
#btn2{
	position:absolute;
	top:540px;
	left:100px;
	background-image: url('../sources/button.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height:100px;
	width:150px;
	font-size: 120%;
	font-family: cyber;
	color:red;
	
}
body{
	background-color: black;
}
#btn3{
	position:absolute;
	top:650px;
	left:100px;
	background-image: url('../sources/button.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height:100px;
	width:150px;
	font-size: 120%;
	font-family: cyber;
	color:red;
	
}