#rule{
	background-color: gray;
	height: 40%;
	width: 50%;
	font-family: berlin sans FB;
	padding: 10px;
}
h1{
	font-family: Bradley Hand ITC;
	font-size: 70pt;
}
button{
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
}