        body{
        margin: 0;
        background-image: url("../sources/debut.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../sources/debut.png);
        text-align: center;
        color: rgb(96, 81, 138);
        display: flex;
        justify-content: center; 
        align-items: center;   
        flex-direction: column;  
        height: 100vh;
        }
        
        button{
            background-image: url(../sources/button.png);
            color: rgb(96, 81, 138);
            width: 150px;
            height: 70px; 
            cursor: pointer;
            margin-top: 30px;
            font-size: 25px;
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            border-radius: 30px;
        }
        h1{
           font-family: sans;
           font-size: 50px;
        }