body {
    background-image: url(../source/ecraninfo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#jouer {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 190px;
    width: 380px;
    right: 860px;
    top:700px;
    overflow: hidden;
}

#credit {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 190px;
    width: 380px;
    left: 280px;
    top: 530px;
    overflow: hidden;
}

#regle {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
    width: 330px;
    right: 0px;
    overflow: hidden;
}
