
/*joshua dirick*/
body{
    background-image: url(../source/mondes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
}
#retour{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
}
#namek{
    position: absolute;
    bottom: 85px;
    left: 50px;
}
#futur{
    position: absolute;
    bottom: 0px;
    right: 230px;
    
}
#tdp{
    position: absolute;
    left: 1250px;
    top: 200px;
}
#destine{
    position: absolute;
    top: 50px;
    left: 250px;
}


















































































































