#retour{
    position: absolute;
    right: 0px;
}
body {
    background-image: url(../source/rule.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
