@import 'https://fonts.googleapis.com/css?family=Lato';

body {
	background: #fefefe;
	font-family: 'Lato', sans-serif;
}

#myCalculette {
	width: 350px;
	margin: auto;
}

.myInput{
	background: #fefefe;
	border: solid 1px #eee;
	border-radius: 4px;
	width: 250px;
	padding: 5px 10px 5px 10px;
	box-shadow: 0px 0px 8px #eee;
	display: block;
	margin: 10px 0px 10px 0px;
	text-align: right;
	box-sizing: border-box ;
	min-height: 35px;
	line-height: 25px;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
}

.myButton{
  background: #32434f;
  background-image: -webkit-linear-gradient(top, #32434f, #031b29);
  background-image: -moz-linear-gradient(top, #32434f, #031b29);
  background-image: -ms-linear-gradient(top, #32434f, #031b29);
  background-image: -o-linear-gradient(top, #32434f, #031b29);
  background-image: linear-gradient(to bottom, #32434f, #031b29);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  text-shadow: 0px 0px 5px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 2px 8px 2px 8px;
  text-decoration: none;
  border: none;
  margin: 5px;

}

.myButton:hover {
  background: #080808;
  text-decoration: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
