/*codé entierement par ferre*/
/*Projet X - 4TTr - 2023*/
body{
    background-color: #1A1A1A;/*fond d'ecran noir pour eviter de flasher les yeux de l'utilisateurs au chargement de la page*/
    background-image: url(../sources/background.jpg);/*le fond d'écran du shop, un établi futuriste*/
    background-size: cover;
}
#container{
    width: 100%;
    height: 95vh;
}
/*Fleche____________________________________________________*/
#fleche{
	background-image: url(../sources/fleche.png);/*image de la fleche pour voir plus de vaisseaux à acheter*/
	background-size: cover;
	width: 28%;
	height: 16vh;
	position: absolute;
	cursor: pointer;
    top: 2%;
    left: 40%;
}
#fleche:hover{/*animation pour agrandir la fleche quabd la souris passe dessus*/
	transition:0.1s;
	transform: scale(1.25);	
}
/*Souris____________________________________________________*/
.souris{
    height: 38%;
    width: 25%;
    position: relative;
    background-size: cover;
    left: 37%;
    top: 24%;
    transition: 1s;
    transform: translateY(15%)
}
#souris_base{
    display: block;
}
#souris_one{
    background-image: url("../sources/jaune_v1.png");/*image du premier vaisseau à acheter*/
    display: none;
}
#souris_two{
    background-image: url("../sources/rouge_v1.png");/*image du deuxieme vaisseau à acheter*/
    display: none;
}
.souris:hover{/*animation pour faire agrandir la souris quand la souris passe dessus*/
    transform: translateY(-20px);
    transform: scale(1.2);
}
/*boutton menu_______________________________________________________*/
#button_menu{
    float: left;
    background-image: url(../sources/button_menu.png);/*l'image du bouton pour aller au menu*/
    height: 11vh;
    width: 21%;
    background-size: cover;
    padding: 1%;
    box-sizing: border-box ;
    user-select: none ;
    cursor: pointer;
}
/*points_________________________________________________________________*/
#stellars{
    float: right;
    background-image: url(../sources/stellars.png);/*image du compteur de stellars*/
    height: 14vh;
    width: 21%;
    background-size: cover;
    padding: 1%;
    box-sizing: border-box ;
    text-align: center;
}
/*button pour afficher le meu d'amelioration___________________________*/
#button_upgrade_menu{
    background-image: url(../sources/button_upgrade_menu.png);/*image du menu pour acheter les ameliorations du vaisseaux*/
    width: 70%;
    height: 16vh;
    position: fixed;
    bottom: 5%;
    background-size: cover;
    text-align: center;
    font-family: cyberpunk;
    font-size: 80px;
    left: 14%;
    box-sizing: border-box;
    padding: 3%;
    user-select: none ;
    animation: 2s;
    cursor: pointer;
}
.button_upgrade_menu:hover{
    transition: 0.5s;
    bottom: 10%;
}
/*menu d'amelioration_____________________________________________________*/
#upgrade_menu{
    background-image: url(../sources/upgrade_menu.png);/*image des boutons pour ameliorer le vaisseau*/
    height: 62vh;
    width: 42%;
    background-size: cover;
    padding: 1%;
    box-sizing: border-box ;
    position: relative;
    top: -19%;
    left: 50%;
    padding: 1%;
    box-sizing: border-box;
    display: block;
}
/*boutton pour montrer l'amelioration____________________________________*/
.button_show{
    background-image: url(../sources/button_show.png);/*image pour afficher le nom des ameliorations du vaisseau*/
    height: 9vh;
    width: 45%;
    background-size: cover;
    position: relative;
    left: 5%;
    top: -49%;
    box-sizing: border-box;
    padding: 1%;
    margin-top: 1%;
}
/*boutton pour ameliorer + id pour le js____________________________*/
.button_upgrade{
    height: 9vh;
    width: 25%;
    background-size: cover;
    position: relative;
    left: 70%;
    top: 17%;
    box-sizing: border-box;
    padding: 1%;
    user-select: none;
    margin-top: 1%;
    background-color: transparent;
    border: transparent;
}   
#upgrade1{/*hover pour montrer les amelioration en passant sur les noms, chaque nom montre le vaisseau respectivement*/
    background-image: url(../sources/button_upgrade.png);
    cursor: pointer;
}
#upgrade2{
    background-image: url(../sources/button_upgrade.png); 
    cursor:pointer;
}
#upgrade3{
    background-image: url(../sources/button_upgrade.png);
    cursor:pointer;
}
#upgrade4{
    background-image: url(../sources/button_upgrade.png);
    cursor:pointer;
}
/*fonts_________________________________________________________________*/
h1{
    color: white;
    text-align: center;
    font-family: cyberpunk;
    font-size: 64px;
    margin-top: 10px;
}
h2{
    color: white;
    text-align: center;
    font-family: cyberpunk;
    font-size: 48px;
    margin-top: 7%; 
    margin-left: 4%;

}
h3{
    text-align: center;
    font-family: cyberpunk;
    font-size: 32px;
}
h4{
    text-align: center;
    font-family: cyberpunk;
    font-size: 32px;  
    margin-top: 2px;
}
@font-face {
    font-family: cyberpunk;
    src: url(../sources/Cybrpnuk2.ttf);/*caligraphie de la page, un peu post-apocalyptique*/
}