html,body
{
	margin: 0px;
	padding: 0px;
}
body
{
	background-image: url(./img/win.jpg);
	background-size: 1920px 1000px;
    background-repeat: no-repeat;
    background-color: black;
}
#bouttonMenu
{
	position: absolute;
    left: 670px;
    top: 840px;
    width: 580px;
    height: 110px;
    opacity: 0;
    cursor: pointer;
}
#time_score
{
	width: 55px;
    height: 50px;
    font-size: 65px;
    position: absolute;
    left: 950px;
    top: 442px;
    color: #fffa81;
	font-family: arial;
}
#points_score
{
	width: 55px;
    height: 50px;
    position: absolute;
    font-size: 65px;
    left: 950px;
    top: 550px;
    color: #fffa81;
    font-family: arial;	
}
#bouttonSendInfos
{
	position: absolute;
    left: 1330px;
    top: 527px;
    width: 129px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}
#nameInput
{
	position: absolute;
    left: 1345px;
    top: 473px;
    width: 100px;
    height: 22px;
}